<a href="https://colab.research.google.com/github/jermania321/brocode2.0/blob/master/Date_and_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Date and Time in Python**

Python has a module named **datetime** to work with dates and times.

Datetime module supplies classes to work with date and time. These classes provide a number of functions to deal with dates, times and time intervals

Commonly used classes in the datetime module are:
* date Class
* time Class
* datetime Class
* timedelta Class

We can use **dir()** function to get a list containing all attributes of a module.

In [ ]:
import datetime
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

# **1. datetime class**

The datetime module has a class named datetime class that can contain information from both **date and time objects**.

Its a combination of date and time along with the attributes **year, month, day, hour, minute, second, microsecond, and tzinfo**.

Import the datetime module and display the **current date**:

In [ ]:
import datetime
x = datetime.datetime.now()
print(x)

2020-11-03 07:17:23.385965

The date contains year, month, day, hour, minute, second, and microsecond.

In [ ]:
import datetime
import pytz
print(pytz.all_timezones)

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [ ]:
import datetime
import pytz
tzone = pytz.timezone("Asia/Calcutta")
x = datetime.datetime.now(tzone)
print(x)

2020-11-03 12:52:02.157576+05:30

To create a date, we can use the **datetime()** class (constructor) of the datetime module.

The datetime() class requires **three parameters** (mandatory) to create a date: **year, month, day**.

In [ ]:
from datetime import datetime 
dt=datetime(2020,7,18)
print(dt)

2020-07-18 00:00:00

In [ ]:
from datetime import datetime 
dt=datetime(2020,07,18)
print(dt)

SyntaxError: ignored

In [ ]:
dt=datetime(2020, 9, 11, 23, 55, 59, 342380)
print(dt)

2020-09-11 23:55:59.342380

Print year, month, hour, minute and timestamp

In [ ]:
from datetime import datetime 
a = datetime(2020, 9, 11, 23, 55, 59, 342380) 
print("year =", a.year)

year = 2020

In [ ]:
print("month =", a.month)

month = 9

In [ ]:
print("day=",a.day)

day= 11

In [ ]:
print("hour =", a.hour)

hour = 23

In [ ]:
print("minute =", a.minute)

minute = 55

In [ ]:
print("second =", a.second)

second = 59

In [ ]:
print("timestamp =", a.timestamp())

timestamp = 1599868559.34238

Difference between two dates and time

In [ ]:
d1 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
d2 = datetime(year = 2020, month = 6, day = 10, hour = 5, minute = 55, second = 13)
print(d2-d1)

698 days, 22:45:40

We can also create date objects from a timestamp. **A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC**. You can convert a timestamp to date using **fromtimestamp()** method

In [ ]:
from datetime import datetime
tstamp = datetime.now().timestamp()
print(tstamp)

1604379373.282902

Get date from a timestamp

In [ ]:
dt = datetime.fromtimestamp(tstamp)
print(dt)

2020-11-03 04:56:13.282902

2. **date class**

**Syntax**: datetime.date(year, month, day)

In [ ]:
import datetime 
d = datetime.date(2020,10,31) 
print(d)

2020-10-31

We can use **today()** method defined in the date class to get a date object containing the current local date.

In [ ]:
import datetime 
datetime_object = datetime.date.today()
print("current date=",datetime_object)

current date= 2020-11-03

Print today's year, month and day
We can get year, month, day, day of the week etc. from the date object easily. Here's how:

In [ ]:
from datetime import date 
today = date.today() 
print("Current year:", today.year)

Current year: 2020

In [ ]:
from datetime import date 
today = date.today() 
print("Current year:", today.day)

Current year: 2

In [ ]:
from datetime import date 
today = date.today() 
print("Current year:", today.month)

Current year: 11

Difference between two dates

In [ ]:
from datetime import date
d1 = date(year = 2018, month = 7, day = 12)
d2 = date(year = 2020, month = 12, day = 23)
print(d2-d1)

895 days, 0:00:00

Get date from a timestamp

In [ ]:
from datetime import date 
timestamp=date.fromtimestamp(1583562786) 
print("Date =", timestamp)

Date = 2020-03-07

**3. time class**

Time object to represent time

***class datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None)***

In [ ]:
from datetime  import time 
# time(hour = 0, minute = 0, second = 0) 
t= time() 
print("t=", t )

t= 00:00:00

In [ ]:
# time(hour, minute and second)
t = time(11, 34, 56) 
print("t =", t)

t = 11:34:56

In [ ]:
# time(hour, minute and second) 
t = time(hour = 11, minute = 34, second = 56) 
print("t =", t)

t = 11:34:56

In [ ]:
# time(hour, minute, second, microsecond) 
t= time(11, 34, 56, 234566) 
print("t =", t)

t = 11:34:56.234566

Print hour, minute, second and microsecond

Once you create a time object, you can easily print its attributes such as hour, minute etc.

In [ ]:
from datetime import time 
a = time(11, 34, 56) 
print("hour =", a.hour) 
print("minute =", a.minute) 
print("second =", a.second) 
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

**4. timedelta class**

Python **timedelta()** function is present under **datetime** library which is generally used for **calculating differences in dates** and also can be used for **date manipulations** in Python.

It is one of the easiest ways to perform date manipulations.

**Syntax :** datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

**Returns :** Date

In [ ]:
from datetime import datetime, timedelta 
current_date = datetime.now()
print("Current date= ",current_date)
d = current_date + timedelta(days = 2) 
print(d)

Current date=  2020-11-04 16:59:25.700350
2020-11-06 16:59:25.700350

In [ ]:
from datetime import datetime, timedelta 
current_date = datetime.now()
print("Current date= ",current_date)
d = current_date + timedelta(days = -2) 
print(d)

Current date=  2020-11-04 16:59:26.138139
2020-11-02 16:59:26.138139

In [ ]:
from datetime import timedelta  
t1=timedelta(seconds=53)
t2=timedelta(seconds=55)
print(t2-t1)

0:00:02

# **Formatting date and time**

The way date and time is represented may be different in different places, organizations etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK.

Python has **strftime()** and **strptime()** methods to handle this.

**datetime object to string**

The strftime() method is defined under classes date, datetime and time. The method creates a formatted string from a given date, datetime or time object.

In [ ]:
from datetime import datetime
dt=datetime.now()
print(dt)

2020-11-04 05:08:28.945785

In [ ]:
dt.strftime("%H:%M:%S")

'05:08:28'

In [ ]:
dt.strftime("%m/%d/%Y, %H:%M:%S")

'11/04/2020, 05:08:28'

In [ ]:
dt.strftime("%d %B %Y, %H:%M:%S")

'04 November 2020, 05:08:28'

Here, **%Y, %m, %d, %H**etc. are format codes. The **strftime()** method takes one or more format codes and returns a formatted string based on it.

%Y - year [0001,..., 2018, 2019,..., 9999]

%m - month [01, 02, ..., 11, 12]

%d - day [01, 02, ..., 30, 31]

%H - hour [00, 01, ..., 22, 23]

%M - minute [00, 01, ..., 58, 59]

%S - second [00, 01, ..., 58, 59]

**string to date time object**

The **strptime()** method creates a datetime object from a given string (representing date and time).

In [ ]:
print(datetime.strptime("11 September, 2020","%d %B, %Y"))

2020-09-11 00:00:00

The **strptime()** method takes two arguments:
* a string representing date and time
* format code equivalent to the first argument

By the way, **%d, %B and %Y** format codes are used for day, month(full name) and year respectively.

# **Example Programs**

**Example 1:Get today's date from datetime**

In [ ]:
from datetime import date 
today = date.today() 
print("Today's date:", today)

Today's date: 2020-11-04

**Example 2 : Current date in different formats**

In [ ]:
from datetime import date
today = date.today()
# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

# Textual month, day and year	
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

# Month abbreviation, day and year	
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

d1 = 04/11/2020
d2 = November 04, 2020
d3 = 11/04/20
d4 = Nov-04-2020

**Example 3 : Get the current date and time**

In [ ]:
from datetime import datetime 
 # datetime object containing current date and time 
now = datetime.now() 
print("now =", now) 
 # dd/mm/YY H:M:S 
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2020-11-04 06:08:31.722098
date and time = 04/11/2020 06:08:31

**Example 4: Current time using datetime object**

In [ ]:
from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 06:10:26

**Example 5: Current time using time module**

In [ ]:
import time
t = time.localtime()
current_time = time.strftime("%H:%M:%S", t)
print(current_time)

06:11:43