<a href="https://colab.research.google.com/github/jermania321/brocode2.0/blob/master/Module_3__List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists in Python-List operations,creating,accessing, modifying, adding and deleting elements**

List
  

*  one of the simplest and most important data structures
*   an ordered set of values


*   each value is identified by an index.
*    values that make up a list are called its elements.

*   Lists are similar to strings, which are ordered sets of characters, except that the elements of a list can have any type.
*   elements of a list can be any object, and lists are mutable

*   Lists are enclosed in square brackets [ ] and each item is separated by a comma.
*   Lists are very flexible and have many built-in control functions.


*   Here are some real-world examples of lists

      
      A to-do list
      A recipe, which is a list of instructions....etc
      A shopping list for the grocery store

# **1.Creating Lists**



To create a list, place a (possibly empty) comma-separated list of objects or expressions in square brackets.

In [ ]:
L1= [10, 20, 30]
L2=["spam", "bungee", "swallow"]
print(L1)
print(L2)

[10, 20, 30]
['spam', 'bungee', 'swallow']

The elements of lists can be **any objects** (even expressions, functions or other lists!), and they need not all be the same type

In [ ]:
L=[10, 2.3, 3+4j, 'djd', 3*4]
print(L)

[10, 2.3, (3+4j), 'djd', 12]

The following list contains a string, a float, an integer, and another list. A list within another list is said to be a **nested list**.

In [ ]:
L3=["hello", 2.0, 5, [10, 20]]
print(L3)

['hello', 2.0, 5, [10, 20]]

The nested list can be used to represent a **matrix**.

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
print(A[0])
print(A[1][2])

[1, 2, 3]
6

The following command will create **empty lists**

In [ ]:
L1=list() # using built in list function
L2=[]

The range command generate a list of integers and list() function can be used to generate a list

In [ ]:
list(range(1,5))

[1, 2, 3, 4]

Using other lists also we can create a new list.We create a new list L2 from L1

In [ ]:
L2=L1 # creates an alias only
print(L2)
L2=L1[:] # here L2 is created as copy of L1
print(L2)
L2=L1[2:6] # here L2 is created with 2,3,4 and 5th elements of L1.
print(L2)

[10, 20, 30]
[10, 20, 30]
[30]

**List comprehensions**


*   It can be used to construct lists in a very natural, easy way, like a mathematician is used to do.
*   is an elegant and concise way to create a new list from an existing list in Python.

*   consists of an expression followed by for statement inside square brackets.

In [ ]:
#example to make a list with each item being increasing power of 2.
pow2 = [2 ** x for x in range(10)] 
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
#This will create a list of even numbers less than 100.
[i for i in range(100) if i%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
import math
S = [x**2 for x in range(10)]
V = [math.sqrt(i) for i in range(5)]
M = [x for x in S if x % 2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]
[0, 4, 16, 36, 64]

# 2.List Operations

The **+ operation** concatenate lists

In [ ]:
A=[10,20,30]
B=[40,50,60,70,80]
print(A+B)

[10, 20, 30, 40, 50, 60, 70, 80]

The * operator repeats a list given number of times.

In [ ]:
 [1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Membership of an element in a list can be tested with **in and not in**

In [ ]:
B=[40,50,60,70,80]
40 in B

True

In [ ]:
100 in B

False

In [ ]:
100 not in B

True

**Slicing operator[::]** can be used to extract elements from a list

In [ ]:
B=[40,50,60,70,80]
B[2:5]

[60, 70, 80]

# 3.Access elements from a list

**List Index**

Use the index operator [] to access an item in a list. In Python, indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

Trying to access indexes other than these will raise an IndexError. The index must be an integer. We can't use float or other types, this will result in TypeError.

Nested lists are accessed using nested indexing.Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
L = [10, 20, [60, 70, 80], 30]
L[2]
#L[1] 
#L[-1] 
#L[-3] 
#We can use an expression for index. But only integer values are permitted for index.
#L[5//2] 
#L[2][2]

[60, 70, 80]

**List Traversal**



*   We can also access elements of a list by using looping constructs while and for. 
*   "for" is more efficient.


*  If we are using "while" we should also know the length of the list, which can be found by the sequence function len().
*   List item

In [ ]:
for i in L:
    print (i)

10
20
[60, 70, 80]
30

In [ ]:
i=0 
while i <len(L): 
    print(L[i])
    i+=1

10
20
[60, 70, 80]
30

# 4.Modifying List Elements

The list is a mutable sequence. It means that we can change the list elements.

To change the i’th element simply assign a new value to the i’th index

In [ ]:
L=[10,20,30,40]
L[2]=100 # will set the 3rd element to 100 in the list L.
print(L)
L[-1]=200 # will change the last element to 200.
print(L)

#We can also use slicing to change more than one value using another list
L[2:4]=[111,222]
print(L)

[10, 20, 100, 40]
[10, 20, 100, 200]
[10, 20, 111, 222]

# 5.Adding Elements to the List

One way to add elements to the list is by using concatenation (+ operator).We can concatenate an element to a list in the beginning or at the end.

In [ ]:
L=[20,30,40]
print(L+[50])
print([10]+L)

[20, 30, 40, 50]
[10, 20, 30, 40]

We can also use the **append()** method to add elements at the end of the list.

In [ ]:
L=[10,20,30]
L.append(40)
L.append(50)
L

[10, 20, 30, 40, 50]

We can also use **insert()** method to insert element at a particular position.

In [ ]:
L.insert(0,5) # will insert 5 before index 0
L

[5, 10, 20, 30, 40, 50]

In [ ]:
L.insert(-1,100)
L

[5, 10, 20, 30, 40, 100, 50]

The list can be extended with more elements by **extend()** method

In [ ]:
L=[10,20,30]
L.extend([40,50,60])
L

[10, 20, 30, 40, 50, 60]

# 6.Deleting Elements from a List

**pop()** method can be used to take the last element from a list. When the list is empty it will return index error.

In [ ]:
L=[10,20,30]
print(L.pop())
print(L)
print(L.pop(0))

30
[10, 20]
10

The method **remove()** will remove the specified element from the list. If the element is not present in the list, it will return value error.

In [ ]:
L=[10,20,30]
L.remove(20)
L

[10, 30]

The **del()** function can also be used to delete an element from a list, if you don’t know the element to delete. It uses the index to delete the element.

In [ ]:
L=[10,20,30,40]
del(L[1])
del(L[-1])
L

[10, 30]

We can use slicing with del() to delete more elements

In [ ]:
L=[10,20,30,40]
del(L[1:3])
L

[10, 40]

In [ ]:
L=[10,20,30,40]
del(L[-1:-3:-1])
L

[10, 20]

# Useful functions with List

len() function will return the number of elements in the list.

In [ ]:
L=[10,20,30,40]
len(L)

4

min() and max() will return the minimum and maximum element

In [ ]:
L=[10,20,30,40]
print(min(L))
print(max(L))

10
40

sum() function will return the sum of the elements.

In [ ]:
L=[10,20,30,40]
sum(L)

100

We can find average of the list elements L by sum(L)/len(L)

In [ ]:
sum(L)/len(L)

25.0

del() function can be also used for deleting element(s)

In [ ]:
del(L[1])
L

[10, 30, 40]

del() function can be used to delete multiple element(s)

In [ ]:
l=[4,5,6,7,8,9]
del(l[0:3])
l

[7, 8, 9]

# Python List Methods

Methods that are available with list objects in Python programming are tabulated below.

They are accessed as list.method(). 

append() - Add an element to the end of the list

extend() - Add all elements of a list to the another list

insert() - Insert an item at the defined index

remove() - Removes an item from the list

pop() - Removes and returns an element at the given index or last element

clear() - Removes all items from the list

index() - Returns the index of the first matched item

count() - Returns the count of the number of items passed as an argument

sort() - Sort items in a list in ascending order

reverse() -Reverse the order of items in the list

copy() - Returns a shallow copy of the list

# Searching and Sorting

The **index()** method can be used to find the position of an element in a list. If the element is not present it will return a value error.

Note: we can use ‘in’ to check whether an element is present in the list or not.

In [ ]:
L=[10,20,30,40]
L.index(30)

2

The count() method returns number of occurrences of an element in a list.

In [ ]:
L=[10,20,30,30,40]
L.count(30)

2

In [ ]:
L.count(100)

0

The **sort()** function can be used to sort the list in ascending or descending order

In [ ]:
L=[10, -30, 40]
L.sort()
L

[-30, 10, 40]

In [ ]:
L.sort(reverse=True)
L

[40, 10, -30]

When you sort a list containing strings, ASCII ordering is used

In [ ]:
L=["model","engineering","college"]
L.sort()
L

['college', 'engineering', 'model']

In [ ]:
L.sort(reverse=True)
L

['model', 'engineering', 'college']

We can also specify a function as key so that the list will be sorted based on that function. The following example sort the list elements based on the length of the string.

In [ ]:
L=["model","engineering","college"]
L.sort(key=len)
L

['model', 'college', 'engineering']

In [ ]:
L=["model","engineering","college"]
L.sort(key=len,reverse=True)
L

['engineering', 'college', 'model']

It is noted that when you use **sort()** method the original list is modified. We can use **sorted()** method to create a new sorted list without changing the original.

In [ ]:
L=["model","engineering","college"]
sorted(L)

['college', 'engineering', 'model']

In [ ]:
sorted(L,reverse=True)

['model', 'engineering', 'college']

# Strings and Lists

We can use split method in the string module to split a string and create a list of words.

In [ ]:
s="this is a test"
w=s.split(' ')
w

['this', 'is', 'a', 'test']

In [ ]:
 "_".join(w) # words are joined with ‘_’ character.

'this_is_a_test'

# Aliasing and Cloning List

When we assign one list to another variable it creates an alias of the list object.It means that it will not create a separate list object.

In [ ]:
a=[10,20,30]
b=a # this will create an alias
#We can test the object id using the function id() to test that they refer to the same object.
print('id of a:',id(a))
print('id of b:',id(b)) # note that the ids are same

id of a: 140039359042760
id of b: 140039359042760

In [ ]:
a[2]=100
b

[10, 20, 100]

If you want to clone a list , ie; if we need a copy of the list, slicing can be used or use the copy() function. This will create a new object. Note that the ids of the objects are different.

In [ ]:
b=a[::]
b

[10, 20, 100]

In [ ]:
a

[10, 20, 100]

In [ ]:
id(a)

140039359042760

In [ ]:
id(b)

140039358961480

# Example Programs

1. Program to read list of names and sort the list in alphabetical order.( university question)

In [ ]:
n=int(input("Enter the number of names...."))
names=[]
print("Enter {} names".format(n))
for i in range(n):
    nam=input()
    names.append(nam)
names.sort()
print("names in alphabetical order")
for nam in names:
    print(nam)

Enter the number of names....4
Enter 4 names
sajio
alwin
ganesh
jijo
names in alphabetical order
alwin
ganesh
jijo
sajio

2. Program to find the sum of all even numbers in a group of n numbers entered by the user. (university question)

In [ ]:
n=int(input("Enter the number of elements..."))
print("Enter the {} elements".format(n))
l=[] # creating an empty list
for i in range(n):
    x=int(input())
    l.append(x)
sum=0
for i in range(n):
    if l[i]%2==0:
        sum=sum+l[i]
print("Sum of all even numbers",sum)

Enter the number of elements...5
Enter the 5 elements
2
3
4
5
6
Sum of all even numbers 12

3. Program to read a string and remove the given words from the string.

In [ ]:
s=input("Enter the string....")
wr=input("Enter the word to remove....")
wrds=s.split(" ")
ns=""
for w in wrds:
    if w!=wr:
        ns=ns+" "+w
print("new string...",ns)

Enter the string....this is cool
Enter the word to remove....is
new string...  this cool

4. Program to read list of numbers and find the median

In [ ]:
#We can find median by sorting the list and then take the middle element. If the list contains even number of elements take the average of the two middle elements.
n=int(input("Enter how many numbers...."))
print("Enter {} numbers....".format(n))
lst=[]
for i in range(n):
   x=int(input())
   lst.append(x)
lst.sort()
print(lst)
mid=n//2
if n%2==1:
   print("Median",lst[mid])
else:
   print("Median",(lst[mid]+lst[mid-1])/2)

Enter how many numbers....4
Enter 4 numbers....
1
2
3
4
[1, 2, 3, 4]
Median 2.5

5. Finding the mode of list of numbers

In [ ]:
#A number that appears most often is the mode.
l=[]
n=int(input("Enter n.."))
print("Enter the numbers..")
for i in range(n):
    x=int(input())
    l.append(x)
c=[]
e=[]
for x in l:
    if x not in e:
        c.append(l.count(x))
        e.append(x)
mc=max(c)
ne=len(c)
i=0
print("mode..")
while i<ne:
    if c[i]==mc:
        print(e[i])
    i+=1

Enter n..5
Enter the numbers..
1
2
3
2
6
mode..
2