<a href="https://colab.research.google.com/github/jermania321/brocode2.0/blob/master/Module3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**


*   used for grouping data
*   is an immutable list--cannot be changed in any way once it has been created.


*   is defined analogously to lists
*  set of elements is enclosed in


*   rules for indices are the same as for lists

**What are the benefit of tuple?**

*   Tuples are faster than lists.
*   If you know that some data doesn't have to be changed, you should use tuples instead of lists, because this protects your data against accidental changes.

*   Tuples can be used as keys in dictionaries, while lists can't.

# Tuple creation

It is defined within parentheses () where items are separated by commas.

In [ ]:
t = ("tuples", "are", "immutable")
t

('tuples', 'are', 'immutable')

To create a tuple with a single element, we have to include the final comma:

In [ ]:
t1 = ('a',)
type(t1)

tuple

Without the comma, Python treats ('a') as a string in parentheses:

In [ ]:
t2 = ('a')
type(t2)

str

create an empty tuple

In [ ]:
t=()
print(type(t))

t=tuple()
print(type(t))

<class 'tuple'>
<class 'tuple'>

A tuple can also be created without using parentheses. This is known as **tuple packing**.

In [ ]:
t = 3, 4.6, "dog" 
print(t)

(3, 4.6, 'dog')

# Accessing Elements

In [ ]:
t = ("tuples", "are", "immutable")
t[0]

'tuples'

We can use the slicing operator [] to extract items but we cannot change its value.

In [ ]:
t[0]="assignments to elements are not possible"

TypeError: ignored

In [ ]:
print(t[-1])
print(t[0:2])

immutable
('tuples', 'are')

This will add a new element to the Tuple

In [ ]:
t=(10,20,30)
t=t+(40,)
t

(10, 20, 30, 40)

# Tuple operations

**+ Operation**

In [ ]:
a=(10,20,30)
b=(40,50)
a+b

(10, 20, 30, 40, 50)

 *** Operation**

In [ ]:
b*2

(40, 50, 40, 50)

**in** and **not in**

In [ ]:
10 in a

True

In [ ]:
100 not in a

True

In [ ]:
c=a+(30,)
c

(10, 20, 30, 30)

# Tuple Functions

In [ ]:
a=(10,20,30,30)
min(a)

10

In [ ]:
max(a)

30

In [ ]:
sum(a)

90

In [ ]:
len(a)

4

In [ ]:
a.index(20)

1

In [ ]:
c.count(30)

2

cmp( ) # Not available in Python 3
This is used to check whether the given tuples are same or not. If both are same, it will return ‘zero’, otherwise return 1 or -1. If the first tuple is big, then it will return 1,otherwise return -1.

In [ ]:
a=(10,20)
b=(10,20)
cmp(a,b)

NameError: ignored

since the tuples are immutable you cannot sort the tuple.However you can use the sequence function **sorted()** to create a new sorted list from the tuple.

In [ ]:
a=(3,2,4)
sorted(a)

[2, 3, 4]

del() function will delete a tuple

In [ ]:
del(a)

NameError: ignored

# Tuple packing and unpacking

In tuple packing, the values on the right are ‘packed’ together in a tuple:

In [ ]:
stud=(101,'shilpa','kayamkulam',690535)

In tuple unpacking, the values in a tuple on the right are 'unpacked' into the variables/names on the left:

In [ ]:
(rno,name,place,pin)=stud
print(rno)
print(name)
print(place)
print(pin)

101
shilpa
kayamkulam
690535

# Tuple assignments

Once in a while, it is useful to swap the values of two variables. With conventional assignment statements, we have to use a temporary variable. For example, 

to swap a and b:

temp = a

a = b

b = temp

Tuple assignment solves this problem neatly:

(a, b) = (b, a) 

The left side is a tuple of variables; the right side is a tuple of values. Each value is assigned to its respective variable. All the expressions on the right side are evaluated before any of the assignments. This feature makes tuple assignment quite versatile.

Naturally, the number of variables on the left and the number of values on the right have to be the same

In [ ]:
t1=(10,20,30)
t2=(100,200)
t2,t1=t1,t2
t1

(100, 200)

In [ ]:
t2

(10, 20, 30)

Converting  lists into tuples and tuples into lists

In [ ]:
L=[10,20,30,40]
T=tuple(L)
T

(10, 20, 30, 40)

# Example Programs

Program to read numbers and find minimum, maximum and sum using Tuple

In [ ]:
n=int(input("Enter how many numbers...."))
print("Enter {} numbers".format(n))
t=tuple()
for i in range(n):
    x=int(input())
    t=t+(x,)
print("minimum=",min(t))
print("maximum=",max(t))
print("sum=",sum(t))

Write a menu driven program to store the students details(rno,name,mark) as a list of tuples.The menu has the following options ( university question)

add-adding students details

remove-remove the details by giving roll number

search-search and display the details by giving roll number

max-display the details of the students with highest mark

In [ ]:
stud=[]
while True:
    print("1.add\n2.remove\n3.search\n4.max\n5.Display\n6.Exit")
    op=int(input("Enter option...."))
    if op==1:
        print("Enter the student details..")
        rno=int(input("Enter the rollnumber..."))
        name=input("Enter name...")
        mark=int(input("Enter marks..."))
        stud.append((rno,name,mark))
        print(stud)
    if op==2:
        rno=int(input("Enter the rollnumber to remove"))
        stud=filter(lambda x:x[0]!=rno,stud)
    if op==3:
        rno=int(input("Enter the rollnumber to search"))
        s=filter(lambda x:x[0]==rno,stud)
        for i in s:
            print(i)
    if op==4:
        stud=sorted(stud,key=lambda x:x[2],reverse=True)
        print(stud[0])
    if op==5:
        print("Students Details")
        for i in stud:
            print(i)
    if op==6:
        print("Bye")
        break

Python program to Sort Tuples by their Maximum element

input : test_list = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)] 

Output : [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [ ]:
test_list = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)] 
  
# printing original list 
print("The original list is : " + str(test_list)) 
  
# lambda function getting maximum elements  
# reverse for sorting by max - first element's tuples 
test_list.sort(key = lambda sub : max(sub), reverse = True) 
  
# printing result  
print("Sorted Tuples : " + str(test_list))

Python program to find tuples which have all elements divisible by K from a list of tuples

Input : test_list = [(6, 24, 12), (60, 12, 6), (12, 18, 21)], K = 6 

Output : [(6, 24, 12), (60, 12, 6)]

In [ ]:
test_list = [(6, 24, 12), (7, 9, 6), (12, 18, 21)] 
  
# printing original list 
print("The original list is : " + str(test_list)) 
  
# initializing K 
K = 6
  
# filter() + lambda for filter operation 
res = list(filter(lambda sub: all(ele % K == 0 for ele in sub), test_list)) 
  
# printing result 
print("K Multiple elements tuples : " + str(res))

Python – Convert Binary tuple to Integer
Input : test_tup = (1, 1, 0)

Output : 6

Explanation : 4 + 2 = 6.

In [ ]:
# Python3 code to demonstrate working of  
# Convert Binary tuple to Integer 
# Using join() + list comprehension + int() 
  
# initializing tuple 
test_tup = (1, 1, 0, 1, 0, 0, 1) 
  
# printing original tuple 
print("The original tuple is : " + str(test_tup)) 
  
# using int() with base to get actual number 
res = int("".join(str(ele) for ele in test_tup), 2)  
  
# printing result  
print("Decimal number is : " + str(res))