<a href="https://colab.research.google.com/github/jermania321/brocode2.0/blob/master/module3_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set in Python

**set**


*    unordered collection of items.
*   Every set element is unique (no duplicates) 


*    set elements are immutable (cannot be changed).
*  a set itself is mutable. We can add or remove items from it

*   Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

# Creating Python Sets

A set is created by 

*   placing all the items (elements) inside **curly braces {}**, separated by comma
*   using the built-in set() function.

 can have any number of items and they may be of different types (integer, float, tuple, string etc.).
 
 a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
 S={1,2,3}
 print(S)

{1, 2, 3}

In [ ]:
S = {1.0, "Hello", (1, 2, 3)}
print(S)

{1.0, 'Hello', (1, 2, 3)}

In [ ]:
#set cannot have duplicate
S = {1, 2, 3, 4, 3, 2}
print(S)

{1, 2, 3, 4}

In [ ]:
#we can make set from a list
l=[1,2,3,4,4]
S=set(l)
print(S)

{1, 2, 3, 4}

In [ ]:
#set cannot have mutable item
S={1,2,[3,4]}

TypeError: ignored

In [ ]:
#Creating an empty set
S=set()

# Modifying a set in Python

Sets are mutable. However, since they are unordered, indexing has no meaning.

We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.
We can add a single element using the **add()** method, and multiple elements using the **update()** method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [ ]:
S={1,3}
S

{1, 3}

In [ ]:
S.add(4)
S

{1, 3, 4}

In [ ]:
S.update([2,3,5])
S

{1, 2, 3, 4, 5}

In [ ]:
S.update([7,8],{9,10})
S

{1, 2, 3, 4, 5, 7, 8, 9, 10}

# Removing elements from a set

A particular item can be removed from a set using the methods **discard()** and **remove()**.

The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

In [ ]:
S={1,2,3,4}
S.discard(4)
S

{1, 2, 3}

In [ ]:
S.remove(3)
S

{1, 2}

In [ ]:
S.remove(5)

KeyError: ignored

In [ ]:
 S.discard(5)

 we can remove and return an item using the **pop()** method.
Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the **clear()** method.

In [ ]:
S={1,5,2,3,4}
S.pop()

1

In [ ]:
S.pop()

2

In [ ]:
S

{3, 4, 5}

In [ ]:
S.clear()
S

set()

# Python Set Operations

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.

We can do this with operators or methods.

In [ ]:
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}

**Union**

Union of A and B is a set of all elements from both sets.
Union is performed using | operator. 

Same can be accomplished using the union() method.

In [ ]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

**Intersection**

Intersection of A and B is a set of elements that are common in both the sets.

Intersection is performed using & operator. 

Same can be accomplished using the intersection() method.

In [ ]:
A&B

{4, 5}

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
B.intersection(A)

{4, 5}

**Difference**

Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. 

Similarly, B - A is a set of elements in B but not in A.

Difference is performed using - operator. Same can be accomplished using the difference() method.

In [ ]:
A-B

{1, 2, 3}

In [ ]:
B-A

{6, 7, 8}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

**Symmetric Difference**

Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. 

Same can be accomplished using the method symmetric_difference().

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

In [ ]:
B^A

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

# Built-in Functions with Set

**all()**

> Returns True if all elements of the set are true (or if the set is empty).

**any()**  

>Returns True if any element of the set is true. If the set is empty, returns False.

**enumerate()**

>Returns an enumerate object. It contains the index and value for all the items of the set as a pair.

**len()**
>Returns the length (the number of items) in the set.

**max()**
>Returns the largest item in the set.

**min()**
>Returns the smallest item in the set.

**sorted()**
>Returns a new sorted list from elements in the set(does not sort the set itself).

**sum()**

> Returns the sum of all elements in the set.

In [ ]:
S={1,0,2,3}
all(S)

False

In [ ]:
any(S)

True

In [ ]:
for i in enumerate(S):
	print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)

In [ ]:
len(S)

4

In [ ]:
max(S)

3

In [ ]:
min(S)

0

In [ ]:
SS=sorted(S)
SS

[0, 1, 2, 3]

In [ ]:
sum(S)

6

#Python Set Methods

**add()**
>Adds an element to the set

**clear()**
>Removes all elements from the set

**copy()**
> Returns a copy of the set

**difference()**
>Returns the difference of two or more sets as a new set

**difference_update()**
>Removes all elements of another set from this set

**discard()**
>Removes an element from the set if it is a member.(Do nothing if the element is not in set)

**intersection()**
>Returns the intersection of two sets as a new set

**intersection_update()**
>Updates the set with the intersection of itself and another

**isdisjoint() **
> Returns True if two sets have a null intersection Returns True if two sets have a null intersection

**issubset()**
>Returns True if another set contains this set


**issuperset()**
>Returns True if this set contains another set

**pop()**
>Removes and returns an arbitrary set element. Raises KeyError if the set is empty

**remove()**
>Removes an element from the set. If the element is not a member, raises a KeyError

**symmetric_difference()**
>Returns the symmetric difference of two sets as a new set

**symmetric_difference_update()**
>Updates a set with the symmetric difference of itself and another

**union()**
>Returns the union of sets in a new set

**update()**
>Updates the set with the union of itself and others

In [ ]:
A={3,2,1,4}
A.add(5)
A

{1, 2, 3, 4, 5}

In [ ]:
B=A.copy()
B

{1, 2, 3, 4, 5}

In [ ]:
B.clear()
B

set()

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
A.discard(5)
A

{1, 2, 3, 4}

In [ ]:
A.update({5,6})
A

{1, 2, 3, 4, 5, 6}

In [ ]:
B={1,2}
B.issubset(A)

True

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [ ]:
A.intersection(B)

{1, 2}

In [ ]:
A.difference(B)

{3, 4, 5, 6}

**Set Membership Test**

We can test if an item exists in a set or not, using the **in** keyword.

In [ ]:
my_set = set("apple")
print('a' in my_set)

True

In [ ]:
print('p' not in my_set)

False

**Iterating Through a Set**

We can iterate through each item in a set using a **for** loop.

In [ ]:
s={3,2,1,5}
for i in s:
	print(i)

1
2
3
5

# Python Frozenset

Frozenset is a new class that has the characteristics of a set, but its **elements cannot be changed once assigned**. While tuples are immutable lists, frozensets are immutable sets.


Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, **frozensets are hashable** and can be used as keys to a dictionary.


Frozensets can be created using the **frozenset()**function.


This data type supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable, it does not have methods that add or remove elements.

In [ ]:
a=frozenset([1,2,3,4])
b=frozenset([3,4,5,6])
a|b

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
a-b

frozenset({1, 2})

In [ ]:
a&b

frozenset({3, 4})

In [ ]:
 a.issubset(b)

False

In [ ]:
c={2,3}
c.issubset(a)

True

In [ ]:
a.add(9)

AttributeError: ignored

In [ ]:
a.remove(2)

AttributeError: ignored

# Example Programs

Write a program to do basic set operations

In [ ]:
na=int(input('Enter number of elements of the set A ..'))
A=set()
print("Enter the elements of set A...")
for i in range(na):
    x=int(input())
    A.add(x)
nb=int(input('Enter number of elements of the set B ..'))
B=set()
print("Enter the elements of set B...")
for i in range(nb):
    x=int(input())
    B.add(x)
print("set operations..")
print("union")
print(A|B)
print("Intersection")
print(A&B)
print("Difference A-B and B-A")
print(A-B)
print(B-A)
print("symmetric Difference")
print(A^B)

Enter number of elements of the set A ..5
Enter the elements of set A...
1
2
3
4
5
Enter number of elements of the set B ..4
Enter the elements of set B...
2
4
6
8
set operations..
union
{1, 2, 3, 4, 5, 6, 8}
Intersection
{2, 4}
Difference A-B and B-A
{1, 3, 5}
{8, 6}
symmetric Difference
{1, 3, 5, 6, 8}

2.  remove duplicate elements from a list

In [ ]:
#The simple way to remove duplicate elements from a list is to convert into a set and then convert back to list
lst=[]
n=int(input("enter how many numbers.."))
print("Enter elements...")
for i in range(n):
    x=int(input())
    lst.append(x)
nlst=list(set(lst))
print("new list after removing duplicates")
print(nlst)

enter how many numbers..6
Enter elements...
2
5
7
8
7
3
new list after removing duplicates
[2, 3, 5, 7, 8]

3.completely remove duplicate elements without keeping any copy.

In [ ]:
n=int(input('Enter number of elements of the list ..'))
lst=[]
print("Enter the elements...")
for i in range(n):
    x=int(input())
    lst.append(x)
nlst=list(set(lst)) # new list with only one copy
print("new list with only one copy...")
print(nlst)
nlwd=[] # new list without duplicates
for i in nlst:
    if lst.count(i)==1: #non duplicate element
        nlwd.append(i)
print("New list after removing duplicates completely...")
print(nlwd)

Enter number of elements of the list ..6
Enter the elements...
2
5
7
8
7
3
[2, 3, 5, 7, 8]
New list after removing duplicates completely...
[2, 3, 5, 8]