<a href="https://colab.research.google.com/github/jermania321/brocode2.0/blob/master/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

**numpy**, short for **Numerical Python**


*   fundamental package required for high performance scientific computing and data analysis
*   package is adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.


*   Create on 2005
*   open-source software

Here are some of the things it provides:


*   ndarray, a fast and space-efficient multidimensional array providing vectorized arithmetic operations and sophisticated broadcasting capabilities
*   Standard mathematical functions for fast operations on entire arrays of data without having to write loops

* Tools for reading / writing array data to disk and working with memory-mapped files
*   Linear algebra, random number generation, and Fourier transform capabilities

*   Tools for integrating code written in C, C++, and Fortran

# NumPy - Environment

[Installing Numpy](https://www.tutorialspoint.com/numpy/numpy_environment.htm)

# The NumPy ndarray: A Multidimensional Array Object



* One of the key features of NumPy is its N-dimensional array object, or ndarray
*   it is a fast, flexible container for large data sets in Python.


* Arrays enable you to perform mathematical operations on whole blocks of data using similar syntax to the equivalent operations between scalar elements:
*   A numpy array is a grid of values, all of the **same type**, and is indexed by a tuple of non negative integers.


*   In NumPy dimensions are called axes.
*   The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.


We can initialize numpy arrays from nested Python lists, and access elements using square brackets:
Python array indexing start from 0.Matrix operations can be done with numpy arrays.

**Creating numpy arrays**

The basic ndarray is created using an array function in NumPy as follows −

    numpy.array 

Full syntax

    numpy.array(object, dtype = None, copy = True, order = None, subok = False, ndmin = 0)

![numpy.png]()

In [ ]:
import numpy as np 
A = np.array([[1, 2, 3], [3, 4, 5]]) #Array of integers
print(A)

[[1 2 3]
 [3 4 5]]

In [ ]:
A = np.array([[1.1, 2, 3], [3, 4, 5]]) # Array of floats 
print(A)

[[1.1 2.  3. ]
 [3.  4.  5. ]]

In [ ]:
A = np.array([[1, 2, 3], [3, 4, 5]], dtype = complex) # Array of complex numbers 
print(A)

[[1.+0.j 2.+0.j 3.+0.j]
 [3.+0.j 4.+0.j 5.+0.j]]

**Access Array Elements**

Array indexing is the same as accessing an array element.

You can access an array element by referring to its index number.

The indexes in NumPy arrays start with 0, meaning that the first element has index 0, and the second has index 1 etc.

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr[0])

1

**Access 2-D Arrays**

To access elements from 2-D arrays we can use comma separated **integers representing the dimension and the index of the element**.

In [ ]:
import numpy as np
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print('2nd element on 1st dim: ', arr[0, 1])

2nd element on 1st dim:  2

In [ ]:
import numpy as np
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print('5th element on 2nd dim: ', arr[1, 4])

5th element on 2nd dim:  10

**Access 3-D Arrays**


To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

In [ ]:
import numpy as np
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr[0, 1, 2])

6

**Negative Indexing**

Use negative indexing to access an array from the end.

In [ ]:
import numpy as np
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

**Data Type Objects (dtype)**

The data type or dtype is a special object containing the information the ndarray needs to interpret a chunk of memory as a particular type of data:

A dtype object is constructed using the following syntax −

    numpy.dtype(object, align, copy)

The parameters are −


    Object − To be converted to data type object

    Align − If true, adds padding to the field to make it similar to C-struct

    Copy − Makes a new copy of dtype object. If false, the result is reference to builtin data type object

In [ ]:
print(type(A))  # prints the class type

<class 'numpy.ndarray'>

In [ ]:
print(A.dtype) # print the data type

complex128

In [ ]:
print(A.ndim) # print the number of dimensions

2

In [ ]:
print(A.size) # print the size...size zero means array empty

6

In [ ]:
print(A.shape) # shape of the array as tuple

(2, 3)

You can explicitly convert or cast an array from one dtype to another using ndarray’s astype method:

In [ ]:
A=np.arange(10)
print(A)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
print(A.astype(np.float))

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]

**Arrays of zeros and ones**

In [ ]:
import numpy as np 
za = np.zeros( (2, 3) ) 
print(za)

[[0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
oa= np.ones( (2,3), dtype=np.int32 ) 
print(oa)

[[1 1 1]
 [1 1 1]]

**Identity matrix**

In [ ]:
import numpy as np
print(np.eye(4,4))

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

**Constant array**

In [ ]:
import numpy as np
print(np.full((4,4),5))

[[5 5 5 5]
 [5 5 5 5]
 [5 5 5 5]
 [5 5 5 5]]

**An uninitialized array**

In [ ]:
import numpy as np
print(np.empty((4,2)))

[[2.06930819e-316 1.58101007e-322]
 [1.03321514e-047 2.19217547e-076]
 [1.10543354e+165 5.54019275e+174]
 [4.85800426e-033 0.00000000e+000]]

**Nine numbers from 0-2**

In [ ]:
import numpy as np
print(np.linspace(0,2,9))

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

**Using arange() and reshape()**

**arange([start,] stop[, step,][, dtype])** : Returns an array with evenly spaced elements as per the interval. The interval mentioned is half opened i.e. [Start, Stop)

***Parameters :***

start : [optional] start of interval range. By default start = 0

stop  : end of interval range

step  : [optional] step size of interval. By default step size = 1, 

For any output out, this is the distance between two adjacent values, out[i+1] - out[i]. 

dtype : type of output array

***Return:***

Array of evenly spaced values.

Length of array being generated  = Ceil((Stop - Start) / Step)

In [ ]:
import numpy as np
A = np.arange(4)
print('A =', A)

A = [0 1 2 3]

In [ ]:
import numpy as np 
print(np.arange(2, 10, dtype=float))

[2. 3. 4. 5. 6. 7. 8. 9.]

In [ ]:
import numpy as np
print(np.arange(2, 3, 0.1) )

[2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9]

**ndarray.shape**

This array attribute returns a tuple consisting of array dimensions. It can also be used to resize the array.

In [ ]:
import numpy as np 
a = np.array([[1,2,3],[4,5,6]]) 
print(a.shape)

(2, 3)

In [ ]:
# this resizes the ndarray 
import numpy as np 

a = np.array([[1,2,3],[4,5,6]]) 
a.shape = (3,2) 
print(a)

[[1 2]
 [3 4]
 [5 6]]

**numpy.reshape()** 

function shapes an array without changing data of array.

**Syntax: numpy.reshape(array, shape, order = 'C')**

***Parameters :***

array : [array_like]Input array

shape : [int or tuples of int]  
order  : [C-contiguous, F-contiguous, A-contiguous; optional]         

         C-contiguous order in memory(last index varies the fastest)
         C order means that operating row-rise on the array will be slightly quicker
         FORTRAN-contiguous order in memory (first index varies the fastest).
         F order means that column-wise operations will be faster. 
         ‘A’ means to read / write the elements in Fortran-like index order if,
         array is Fortran contiguous in memory, C-like order otherwise

***Return :***

Array which is reshaped without changing the data.

In [ ]:
import numpy as np 
B = np.arange(12).reshape(2, 6)
print('B =', B)

B = [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]

In [ ]:
import numpy as np 
A=np.random.random((2,3))
print(A)

[[0.65292392 0.77918074 0.84975557]
 [0.29448282 0.82802894 0.40924653]]

# Adding and removing elements

**Adding elements to an array**

In [ ]:
import numpy as np
A=np.array([10,20,30])
print(A)

[10 20 30]

**append**

In [ ]:
A=np.append(A,[40,50])
print(A)

[10 20 30 40 50]

**insert**

In [ ]:
A=np.insert(A,0,100)
print(A)

[100  10  20  30  40  50]

In [ ]:
A=np.array([[1,2],[3,4]])
print(A)

[[1 2]
 [3 4]]

adding a row

In [ ]:
A=np.append(A,[[5,6]],axis=0)
print(A)

[[1 2]
 [3 4]
 [5 6]]

adding a column

In [ ]:
A=np.array([[1,2],[3,4]])
print(A)
print('second array')
A=np.append(A,[[5],[6]],axis=1)
print(A)

[[1 2]
 [3 4]]
second array
[[1 2 5]
 [3 4 6]]

**DELETING ELEMENTS FROM AN ARRAY**

In [ ]:
A=np.array([10,20,30,40,50,60,70,80])
print(A)

[10 20 30 40 50 60 70 80]

delete

In [ ]:
A=np.delete(A,1)
print(A)

[10 30 40 50 60 70 80]

deleting a row

In [ ]:
A=np.array([[10,20,30],[40,50,60],[70,80,90]])
print(A)

[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [ ]:
A=np.delete(A,1,axis=0)
print(A)

[[10 20 30]
 [70 80 90]]